In [4]:
import pandas as pd
import numpy as np
import glob
import csv
import os 
import re
import datetime

In [5]:
df_ele_1 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ electronics_raw_1.xlsx")
df_ele_2 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ electronics_raw_2.xlsx")
df_ele_3 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ electronics_raw_3.xlsx")

In [6]:
df_ele_1.describe()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
count,20000,19997,19997,16229,12533,19960,19961,19961,19531,19957,2953
unique,37,11,35,19,8208,16039,5,7749,1,18700,96
top,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7 out of 5 stars,"89,305 ratings",£29\n.\n99,Five Stars,Amazon Customer,5.0 out of 5 stars,Reviewed in the United Kingdom on 11 December ...,Verified Purchase,Good,One person found this helpful
freq,5003,13891,5003,5003,776,1359,14259,81,19531,140,1498

In [7]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,My son loves this set,mrscanty,5.0 out of 5 stars,Reviewed in the United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0 out of 5 stars,Reviewed in the United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,NaN
2,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Great product,Mr G,5.0 out of 5 stars,Reviewed in the United Kingdom on 31 January 2019,NaN,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Two Stars,Lisa,2.0 out of 5 stars,Reviewed in the United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,NaN
4,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Four Stars,Caroline McCormack,4.0 out of 5 stars,Reviewed in the United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [8]:
df_ele_1[['Overall Stars', "Individual Review"]]

            Overall Stars   Individual Review
0      4.8 out of 5 stars  5.0 out of 5 stars
1      4.8 out of 5 stars  5.0 out of 5 stars
2      4.8 out of 5 stars  5.0 out of 5 stars
3      4.8 out of 5 stars  2.0 out of 5 stars
4      4.8 out of 5 stars  4.0 out of 5 stars
...                   ...                 ...
19995  4.7 out of 5 stars  5.0 out of 5 stars
19996  4.7 out of 5 stars  5.0 out of 5 stars
19997  4.7 out of 5 stars  4.0 out of 5 stars
19998  4.7 out of 5 stars  5.0 out of 5 stars
19999  4.7 out of 5 stars  5.0 out of 5 stars

[20000 rows x 2 columns]

In [9]:
df_ele_1[['Overall Stars', "Individual Review"]] = df_ele_1[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_ele_2[['Overall Stars', "Individual Review"]] = df_ele_2[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_ele_3[['Overall Stars', "Individual Review"]] = df_ele_3[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))

In [10]:
df_ele_1 =  df_ele_1.astype(str)
df_ele_2 =  df_ele_2.astype(str)
df_ele_3 =  df_ele_3.astype(str)

In [11]:
df_ele_1['Number of Reviews'] = df_ele_1['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))
df_ele_2['Number of Reviews'] = df_ele_2['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))
df_ele_3['Number of Reviews'] = df_ele_3['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))

In [12]:
df_ele_1.head()
#df_ele_2.head()
#df_ele_3.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,My son loves this set,mrscanty,5.0,Reviewed in the United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,Reviewed in the United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan
2,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Great product,Mr G,5.0,Reviewed in the United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Two Stars,Lisa,2.0,Reviewed in the United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan
4,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Four Stars,Caroline McCormack,4.0,Reviewed in the United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [13]:
df_ele_1['Location and Date'] = df_ele_1['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_ele_2['Location and Date'] = df_ele_2['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_ele_3['Location and Date'] = df_ele_3['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))

In [14]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan
2,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Great product,Mr G,5.0,United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan
4,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [15]:
df_ele_1['Number of Reviews'] = df_ele_1['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_ele_2['Number of Reviews'] = df_ele_2['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_ele_3['Number of Reviews'] = df_ele_3['Number of Reviews'].apply(lambda x: x.replace(',',''))

In [16]:
df_ele_1['Helpful'] = df_ele_1['Helpful'].apply(lambda x: x.replace(',',''))
df_ele_2['Helpful'] = df_ele_2['Helpful'].apply(lambda x: x.replace(',',''))
df_ele_3['Helpful'] = df_ele_3['Helpful'].apply(lambda x: x.replace(',',''))

In [17]:
df_ele_2.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,TULLIO CAMPIONE,5.0,Italy on 14 November 2015,Verified Purchase,prodotto sicuramente consigliato per uso norma...,nan
1,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Loma93,5.0,France on 3 October 2021,Verified Purchase,"Conforme à la description, livraison rapide et...",nan
2,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Claudio Barani,5.0,Italy on 29 April 2014,Verified Purchase,cartuccia per stampantePer la celerità nelle s...,nan
3,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Pietro Maifredi,5.0,Italy on 6 June 2019,Verified Purchase,tutto bene dalla spedizione al prodotto,nan
4,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Client d'Amazon,5.0,France on 13 September 2021,Verified Purchase,"super rapport qualité/ prix , vu la promotion...",nan

In [18]:
df_ele_1["Date"] = df_ele_1["Location and Date"]
df_ele_2["Date"] = df_ele_2["Location and Date"]
df_ele_3["Date"] = df_ele_3["Location and Date"]

In [19]:
df_ele_1["Date"] = df_ele_1["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_ele_2["Date"] = df_ele_2["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_ele_3["Date"] = df_ele_3["Date"].apply(lambda x: x.split(' on ')[-1].strip())

In [20]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [21]:
df_ele_1["Location and Date"] = df_ele_1["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_ele_2["Location and Date"] = df_ele_2["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_ele_3["Location and Date"] = df_ele_3["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())

In [22]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [23]:
df_ele_1.rename(columns={"Location and Date": "Location"}, inplace = True)
df_ele_2.rename(columns={"Location and Date": "Location"}, inplace = True)
df_ele_3.rename(columns={"Location and Date": "Location"}, inplace = True)

In [24]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [25]:
df_ele_1['Price'] = df_ele_1['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_ele_2['Price'] = df_ele_2['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_ele_3['Price'] = df_ele_3['Price'].apply(lambda x: x.replace('\n.\n','.'))

In [26]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [27]:
df_ele_1['Price'] = df_ele_1['Price'].apply(lambda x: x.replace('£',''))
df_ele_2['Price'] = df_ele_2['Price'].apply(lambda x: x.replace('£',''))
df_ele_3['Price'] = df_ele_3['Price'].apply(lambda x: x.replace('£',''))

In [28]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [29]:
df_ele_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product            20000 non-null  object
 1   Overall Stars      20000 non-null  object
 2   Number of Reviews  20000 non-null  object
 3   Price              20000 non-null  object
 4   Title of Review    20000 non-null  object
 5   Name               20000 non-null  object
 6   Individual Review  20000 non-null  object
 7   Location           20000 non-null  object
 8   State              20000 non-null  object
 9   Review             20000 non-null  object
 10  Helpful            20000 non-null  object
 11  Date               20000 non-null  object
dtypes: object(12)
memory usage: 1.8+ MB

In [30]:
df_ele_1[["day","month", "year"]] = df_ele_1["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_ele_2[["day","month", "year"]] = df_ele_2["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_ele_3[["day","month", "year"]] = df_ele_3["Date"].apply(lambda x: pd.Series(x.split(' ')))

In [31]:
df_ele_1["Date"] = pd.to_datetime(df_ele_1['year'].astype(str)  + df_ele_1['month'] + df_ele_1["day"], format='%Y%B%d')
df_ele_2["Date"] = pd.to_datetime(df_ele_2['year'].astype(str)  + df_ele_2['month'] + df_ele_2["day"], format='%Y%B%d')
df_ele_3["Date"] = pd.to_datetime(df_ele_3['year'].astype(str)  + df_ele_3['month'] + df_ele_3["day"], format='%Y%B%d')

In [32]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date,day,month,year
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,2021-03-16,16,March,2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,2022-01-09,9,January,2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,2019-01-31,31,January,2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,2016-10-10,10,October,2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,2017-01-17,17,January,2017

In [33]:
df_ele_1.drop(columns = ["day", "month", "year"], inplace= True)
df_ele_2.drop(columns = ["day", "month", "year"], inplace= True)
df_ele_3.drop(columns = ["day", "month", "year"], inplace= True)

In [34]:
df_ele_1["Helpful"].value_counts()

nan                              17047
One person found this helpful     1498
2 people found this helpful        441
3 people found this helpful        237
4 people found this helpful        145
                                 ...
198 people found this helpful        1
32 people found this helpful         1
78 people found this helpful         1
52 people found this helpful         1
84 people found this helpful         1
Name: Helpful, Length: 97, dtype: int64

In [35]:
df_ele_1["Helpful"] = df_ele_1["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_ele_2["Helpful"] = df_ele_2["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_ele_3["Helpful"] = df_ele_3["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))

In [36]:
df_ele_1["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_ele_2["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_ele_3["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)

In [37]:
df_ele_1["Number of Reviews"].replace('', 0, inplace=True)
df_ele_2["Number of Reviews"].replace('', 0, inplace=True)
df_ele_3["Number of Reviews"].replace('', 0, inplace=True)

In [38]:
df_ele_1[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_1[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_1[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   2119        1
1                   2119        0
2                   2119        1
3                   2119        0
4                   2119        1
...                  ...      ...
19995              15254        0
19996              15254        0
19997              15254        0
19998              15254        0
19999              15254        0

[20000 rows x 2 columns]

In [39]:
df_ele_2["Helpful"].value_counts()

0      17277
1       1970
2        267
3        118
4         74
       ...
69         1
271        1
457        1
46         1
42         1
Name: Helpful, Length: 91, dtype: int64

In [40]:
df_ele_2[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_2[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_2[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                  15254        0
1                  15254        0
2                  15254        0
3                  15254        0
4                  15254        0
...                  ...      ...
19995                251        0
19996                251        0
19997                251        0
19998                251        0
19999                251        0

[20000 rows x 2 columns]

In [41]:
df_ele_3[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_3[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_3[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                    251        1
1                    251        0
2                    251        1
3                    251        2
4                    251        4
...                  ...      ...
19230              89452        0
19231              89452        0
19232              89452        0
19233              89452        0
19234              89452        0

[19235 rows x 2 columns]

In [42]:
df_ele_1.to_csv('electronics_cleaned_1.csv')
df_ele_2.to_csv('electronics_cleaned_2.csv')
df_ele_3.to_csv('electronics_cleaned_3.csv')

In [43]:
df_uk_ele = pd.DataFrame()

In [44]:
df_uk_ele = pd.concat([df_ele_1, df_ele_2, df_ele_3], ignore_index = True)

In [45]:
df_uk_ele

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,1,2021-03-16
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,0,2022-01-09
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,1,2019-01-31
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,0,2016-10-10
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,1,2017-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...
59230,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,good gadget,Amazon Customer,4.0,United Kingdom,Verified Purchase,very good and easy to install,0,2020-12-19
59231,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,Fire TV stick lite !,Phil,5.0,United Kingdom,Verified Purchase,Vast improvement on my previous fire TV stick !,0,2021-10-15
59232,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,perfect,sly,5.0,United Kingdom,Verified Purchase,perfect package,0,2022-01-05
59233,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,I get my favourite channels and I have Netflix...,adam maria,5.0,United Kingdom,Verified Purchase,"Very good ,love it",0,2020-11-25
59234,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,Small but excellent,SueDor,5.0,United Kingdom,Verified Purchase,"Really enjoying the Firestick, easy to use wit...",0,2021-01-06

In [46]:
df_uk_ele["Location"].value_counts()

United Kingdom    40745
United States      8028
India              2274
Italy              1813
Germany            1713
France             1607
Canada             1396
Spain               891
Mexico              423
Japan               121
an                  113
Australia            65
Brazil               24
Singapore            10
Sweden                6
Netherlands           6
Name: Location, dtype: int64

In [47]:
df_uk_ele = df_uk_ele.loc[df_uk_ele["Location"].isin(["United Kingdom", "United States", "India", "Canada", "Australia"])]

In [48]:
df_uk_ele["Location"].value_counts()

United Kingdom    40745
United States      8028
India              2274
Canada             1396
Australia            65
Name: Location, dtype: int64

In [49]:
#greater than the start date and smaller than the end date
df_uk_ele_covd_dates = df_uk_ele[(df_uk_ele["Date"] > "2019-12-01") & (df_uk_ele['Date'] <= "2020-08-01")]

In [50]:
df_uk_ele_covd_dates.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
26,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,nan,Hélène,5.0,Canada,Verified Purchase,Mes fils adorent. Très bonne qualité et foncti...,0,2020-06-26
30,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,nan,ZI and SM,5.0,Canada,Verified Purchase,This was suggested as STEM gift for a 5-year o...,0,2020-01-17
37,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,nan,JT,5.0,Canada,Verified Purchase,Enjoyed by 7 year old,0,2020-01-02
49,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,nan,Erin Johnston Cannon,5.0,Canada,Verified Purchase,Gave this as a gift to a very bright 7 year ol...,0,2020-05-13
56,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,nan,Deltamech262,3.0,United States,Verified Purchase,My daughter Loved this!! She is 4.5 and I am u...,3,2020-05-11

In [51]:
df_uk_ele_covd_dates.insert(1, 'Category', 'Electronics')

In [52]:
df_uk_ele_covd_dates.shape

(6218, 13)

In [53]:
df_uk_ele_covd_dates = df_uk_ele_covd_dates.reset_index()

In [54]:
df_uk_ele_covd_dates.drop(columns=["index", "Overall Stars", "Number of Reviews", "Title of Review", "Name"], inplace=True)

In [55]:
df_uk_ele_covd_dates

,Product,Category,Price,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,Verified Purchase,Mes fils adorent. Très bonne qualité et foncti...,0,2020-06-26
1,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,Verified Purchase,This was suggested as STEM gift for a 5-year o...,0,2020-01-17
2,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,Verified Purchase,Enjoyed by 7 year old,0,2020-01-02
3,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,Verified Purchase,Gave this as a gift to a very bright 7 year ol...,0,2020-05-13
4,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,3.0,United States,Verified Purchase,My daughter Loved this!! She is 4.5 and I am u...,3,2020-05-11
...,...,...,...,...,...,...,...,...,...
6213,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,Verified Purchase,Amazing product no problems with it at all,0,2020-01-17
6214,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,Verified Purchase,The monitor has a really good picture quality ...,0,2019-12-11
6215,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,Verified Purchase,Stunning picture quality and performance.,0,2020-02-14
6216,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,Verified Purchase,very good screen very happy,0,2020-01-22
6217,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,2.0,United Kingdom,nan,I bought it outside of amazon and right away I...,3,2020-07-30

In [56]:
df_uk_ele_covd_dates = df_uk_ele_covd_dates[["Product", "Category", "Price", "Individual Review", "Location", "Date", "Review", "Helpful"]]
df_uk_ele_covd_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-06-26,Mes fils adorent. Très bonne qualité et foncti...,0
1,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-01-17,This was suggested as STEM gift for a 5-year o...,0
2,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-01-02,Enjoyed by 7 year old,0
3,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-05-13,Gave this as a gift to a very bright 7 year ol...,0
4,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,3.0,United States,2020-05-11,My daughter Loved this!! She is 4.5 and I am u...,3
...,...,...,...,...,...,...,...,...
6213,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-01-17,Amazing product no problems with it at all,0
6214,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2019-12-11,The monitor has a really good picture quality ...,0
6215,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-02-14,Stunning picture quality and performance.,0
6216,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-01-22,very good screen very happy,0
6217,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,2.0,United Kingdom,2020-07-30,I bought it outside of amazon and right away I...,3

In [69]:
df_uk_ele_covd_dates.isna().value_counts()

Product  Category  Price  Individual Review  Location  Date   Review  Helpful
False    False     False  False              False     False  False   False      6211
dtype: int64

In [70]:
df_uk_ele_covd_dates[df_uk_ele_covd_dates["Review"] == "nan"]

Empty DataFrame
Columns: [Product, Category, Price, Individual Review, Location, Date, Review, Helpful]
Index: []

In [67]:
df_uk_ele_covd_dates = df_uk_ele_covd_dates[df_uk_ele_covd_dates.Review != "nan"]

In [71]:
df_uk_ele_covd_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-06-26,Mes fils adorent. Très bonne qualité et foncti...,0
1,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-01-17,This was suggested as STEM gift for a 5-year o...,0
2,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-01-02,Enjoyed by 7 year old,0
3,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,5.0,Canada,2020-05-13,Gave this as a gift to a very bright 7 year ol...,0
4,Snap Circuits Beginner Electronics Discovery K...,Electronics,25.99,3.0,United States,2020-05-11,My daughter Loved this!! She is 4.5 and I am u...,3
...,...,...,...,...,...,...,...,...
6213,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-01-17,Amazing product no problems with it at all,0
6214,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2019-12-11,The monitor has a really good picture quality ...,0
6215,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-02-14,Stunning picture quality and performance.,0
6216,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,5.0,United Kingdom,2020-01-22,very good screen very happy,0
6217,LG Electronics 27GN850 27 Inch Gaming Monitor ...,Electronics,nan,2.0,United Kingdom,2020-07-30,I bought it outside of amazon and right away I...,3

In [72]:
df_uk_ele_covd_dates.to_csv('../Cleaned_&_Sentimental_csv/electronics_for_sentimental.csv', index = False)